@use '../../styles/variables.scss' as v;

.header {
  background: v.$white;
  box-shadow: v.$shadow;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center; // centrer horizontalement
}

.logoRow {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 80px;
  height: 80px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  .blue { color: v.$primary-blue; }
  .orange { color: v.$primary-orange; }
}

.login {
  background: none;
  border: 1.5px solid v.$primary-blue;
  color: v.$primary-blue;
  border-radius: 999px;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  margin-left: 1rem;
  cursor: pointer;
  transition: background 0.2s;
  &:hover { background: v.$primary-blue; color: v.$white; }
}

.signup {
  background: v.$primary-blue;
  color: v.$white;
  border: none;
  border-radius: 999px;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: background 0.2s;
  &:hover { background: v.$primary-orange; }
} 